body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #ffffff;
}

.headerclass {
  height: 50px;
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ff6b82;
}

span.horizontal-left,
span.horizontal-right {
  width: 180px;
  height: 2px;
  background-color: #c8c8c8;
}

main {
  width: 600px;
  margin: 20px auto;
  background-color: #fff;
  padding: 20px;
}

.box-container,
.box-container2nd,
.box-container3rd {
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 20px;
  height: auto;
}

.box {
  display: flex;
  justify-content: space-around;
  height: 100px;
}

.unit-container {
  width: 250px;
}

.unit-box {
  display: flex;
  margin-top: 25px;
  justify-content: space-between;
  width: 100%;
  font-weight: 600;
}

.unit-box div {
  font-family: Inter;
  font-size: 25px;
  font-weight: 600;
  line-height: 17px;
  text-align: center;
  width: 100px;
}

.unit-val {
  background-color: #ff6b82;
  color: #ffffff;

  font-size: medium;
  display: flex;
  justify-content: center;
  align-items: center;
}

.unit-text {
  color: #000000;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.price {
  font-size: 25px;
  font-weight: 600;
  color: #000000;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.price p {
  margin: 0;
  padding: 0;
}

.checkbox-round {
  margin-top: 10px !important;
  width: 1.5em;
  height: 1.5em;
  background-color: white;
  border-radius: 50%;
  border: 1.5px solid #ff6b82;
  border-radius: 2px solid white;
  appearance: none;
  -webkit-appearance: none;
  outline: none;
  cursor: pointer;
  box-sizing: border-box;
}

.checkbox-round:checked {
  background-color: #ff6b82;
  border: 2px solid #ff6b82;
  padding: 0.4em;
  box-shadow: 0 0 0 0.2em inset #fff;
}

.standard-price {
  margin: 0;
  padding: 0;
  margin-left: 55px;
  font-family: Inter;
  font-size: 25px;
  font-weight: 400;
}

/* ===========================select========================== */

.size-color-section,
.size-color-section2nd,
.size-color-section3rd {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
  display: none;
  border: none !important;
  width: 350px;
  margin-left: 30px;
  flex-direction: column;
}

.size-section,
.size-section2nd .colour-section .indicate-section .size-section3rd {
  flex: 1;
}

select {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

#size-size {
  font-size: 20px;
  margin-right: 5px;
}

.size-option {
  font-size: 16px;
  width: 60px;
  padding: 0;
  margin: 0;
}

.indicate-section p,
.size-section h3,
.colour-section h3,
.size-section2nd h3,
.size-color-section2nd h3,
.size-color-section3rd h3 {
  font-size: 25px;
  color: #333;
  font-weight: 400;
  padding: 0;
}

.indicate-section p {
  justify-content: flex-start;
}

.size-section select,
.colour-section select,
.size-section2nd select,
.size-color-section2nd select,
.size-color-section3rd select {
  width: 85%;
  height: 50px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.optionhead,
.optionmenu {
  display: flex;
  flex-direction: row;
  font-size: 18px;
  font-weight: 400;
}

.optionhead {
  justify-content: space-between;
  margin-right: 110px !important;
  margin-left: 28px;
}

.optionmenu {
  font-size: 25px;
  height: auto;
  justify-content: space-between;
  /* margin-left: 50px; */
}

.price p del {
  color: #999;
  text-decoration: line-through;
  margin: 0;
  font-size: large;
  font-weight: lighter;
  align-items: start;
}

/* 
===========================================delevery and ammout========================== */

.deliverycontainer {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-around;
  font-size: 25px;
  font-weight: 400;
}

.deliverycontainer p:first-child {
  color: #ff6b82;
}

/* 
================================================button======================================= */

button {
  width: 100%;
  background-color: #ff6b82;
  border-style: none;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  font-size: x-large;
  align-items: center;
  color: #ffffff;
  justify-content: center;
  height: 40px;
}

button span {
  margin-right: 10px;
}

/* ==================================2nd option menu================================ */

.optionmenu2nd {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.size-section2nd {
  width: 100% !important;
}

.option-column {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
}

/* 
====================================3rd option menu====================================== */

.optionmenu3rd {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.size-section3rd {
  height: 100%;
  width: 100% !important;
}

/* .option-column{
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
} */
